{% extends "base.html" %}

{% block content %}
  <h1>Listado de Municipios</h1>
  <form method="GET" action="{% url 'municipio_list' %}">
    <input type="text" name="search" placeholder="Buscar por descripción" value="{{ request.GET.search }}">
    <button type="submit">Buscar</button>
  </form>
  <ul>
    {% for municipio in municipios %}
      <li>{{ municipio.nombre }} ({{ municipio.codigo }}) - <a href="{% url 'municipio_update' municipio.pk %}">Editar</a> | <a href="{% url 'municipio_delete' municipio.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'municipio_create' %}">Agregar Municipio</a>
{% endblock %}

