{% extends "base.html" %}

{% block content %}
  <h1>Listado de Departamentos</h1>
      <form method="GET" action="{% url 'departamento_list' %}">
    <input type="text" name="search" placeholder="Buscar por descripción" value="{{ request.GET.search }}">
    <button type="submit">Buscar</button>
  </form>
  <ul>
    {% for departamento in departamentos %}
      <li>{{ departamento.nombre }} ({{ departamento.codigo }}) - <a href="{% url 'departamento_update' departamento.pk %}">Editar</a> | <a href="{% url 'departamento_delete' departamento.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'departamento_create' %}">Agregar Departamento</a>
{% endblock %}

